<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
        class="card p-3 mt-3"
      >
        <h5>számlaLN👮‍</h5>
        <div class="form-group">
          <label for="username">Felhasználónév <strong class="text-danger">*</strong></label>
          <input
            type="text"
            class="form-control"
            placeholder="Felhasználónév"
            name="username"
            id="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="username.errors && f.submitted"
          >
            Felhasználónév megadása kötelező!
          </div>
        </div>
        <div class="form-group">
          <label for="password">Jelszó <strong class="text-danger">*</strong></label>
          <input
            type="password"
            id="password"
            class="form-control"
            name="password"
            placeholder="Jelszó"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors.required">Jelszó mező megadása kötlezeő</div>
            <div *ngIf="password.errors.minlength">
             Jelsző mezőnek minimum 6 karakter hosszúnak kell lennie!
            </div>
          </div>
        </div>
        <div class="form-group d-flex flex-row-reverse">
          <button class="btn btn-outline-secondary btn-sm">
            Belépés
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Sikertelen belépés: {{ errorMessage }}
          </div>
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isLoggedIn">

      </div>
    </div>
  </div>
</div>

